HOST="0.0.0.0"
PORT=8055
SECRET="8395c799f242aa78505e8d94c87784d9678d44c4723661e36600b38b39dac6bc"
PUBLIC_URL="http://localhost:8055"

ADMIN_EMAIL="admin@jadeli.com"
ADMIN_PASSWORD="9TLc-OifBV7iUUYCuWHonLlV"

DB_CLIENT="pg"
DB_CONNECTION_STRING="postgresql://prisma.znnutckuetvgrftufdni:aSWlN2yfkQXBRpjjxdAW2mh1MfSlregrDr1zPKi6EVo%3D@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
DB_SSL__REJECT_UNAUTHORIZED="false"
